<%- include('_head.ejs', {}); %>


<div class="all">
	<header class="header">
		<div class="header__logo"><a href="#">Logo</a></div>
		<nav class="header__nav">
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Acticles</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</nav>
	</header>
	<main class="content">
		<p>Content</p>
	</main>
	<footer class="footer">
		&copy; 2017
	</footer>
</div>


<%- include('_foot.ejs', {}); %>
